@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f3f4f6;
  --text-color: #111827;
  --card-bg: #ffffff;
  --border-color: #e5e7eb;
}

[data-theme='dark'] {
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --card-bg: #1e293b;
  --border-color: #334155;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  transition: background 0.3s, color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
